<nav id="primary-nav" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <!-- Home link -->
    <li class="menu-item">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>
    </li>

    <!-- site.pages links -->
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.data.theme.navigation_pages | default: default_paths %}

    {% for path in page_paths %}
      {% assign my_page = site.pages | where: "path", path | first %}
      {% if my_page.title %}
        <li class="menu-item">
          <a href="{{ my_page.url | relative_url }}" itemprop="url">
            <span itemprop="name">{{ my_page.title | escape }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="menu-item">
      <a href="{{ '/#開催概要' | relative_url }}" itemprop="url">
        <span itemprop="name">開催概要</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="{{ '/#sponsor' | relative_url }}" itemprop="url">
        <span itemprop="name">スポンサー</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="{{ '/#タイムテーブル' | relative_url }}" itemprop="url">
        <span itemprop="name">タイムテーブル</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="{{ '/#実行委員長より' | relative_url }}" itemprop="url">
        <span itemprop="name">実行委員長より</span>
      </a>
    </li>
  </ul>
</nav>
