{% assign sponsorlevel = "gold,silver,support" | split: "," %}

<link rel="stylesheet" href="{{ '/assets/stylesheets/sponsor.css' | relative_url }}">
<div id="sponsor">
  <h1>スポンサー</h1>
  <div class="calltext">
    <p>State of the Map Japan 2018および今後のOpenStreetMap活動にご協力いただけるスポンサー様を募集しております。</p>
    <p>法人様で支援を検討頂ける場合、こちらから各種の資料をお送りさせていただきます。team@stateofthemap.jp 宛てに「資料希望」「相談希望」等、お問い合わせください。<a href="https://docs.google.com/document/d/e/2PACX-1vQw2RHtgE4uF-FbggjYc0yK57BO4gS0jeBEvbnTASLg8k5VIS2cHhe8QkGIhxtlEqx7X3KUWYOlN3QI/pub">スポンサー様ご案内状</a>を閲覧することもできます。</p>
  </div>
  <div class="sponsorlist">
    {% for level in sponsorlevel %}
       <h2 class="{{ level }}-heading">
        {% if level == "supporter" %}
        personal
        {% else %}
        {{ level }}
        {% endif %}
         Sponsors
        </h2>
        <div class="{{ level }}-sponsor">
          {% for sponsor in site.data.sponsors %}
          {% if sponsor.level == level %}
          {% capture logourl %}/assets/images/logo/{{ sponsor.logo }}{% endcapture %}
          <div class="logo">
            <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
              {% if sponsor.logo %}
              <img src="{{ logourl | relative_url }}" alt="{{ sponsor.name }}">
              {% else %}
              {{ sponsor.name }}
              {% endif %}
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
    {% endfor %}
    <h2 class="support-heading">後援</h2>
    <div class="support-sponsor">
      <div class="logo">
        <a href="http://www.ospn.jp/" title="Open Source People Network(OSPN)"><img src="http://www.ospn.jp/bn/ospnjp.png" alt="Open Source People Network(OSPN)"/></a>
      </div>
    </div>
  </div>
</div>
