<link rel="stylesheet" href="{{ '/assets/stylesheets/timetable.css' | relative_url }}">
<table class="schedule">
   <thead class="tableheader">
      <tr>
         <th>タイムテーブル</th>
         <td class="splited">メインホール</td>
         <td class="splited">スタジオプラス</td>
         <td class="splited">セミナーA</td>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th>10:00</th>
         <td class="joined" colspan="3">開場</td>
      </tr>
      <tr>
         <th>10:30-11:15</th>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">メインホール</div>
               <div class="session">
                  基調講演<br>会場諸注意
               </div>
            </div>
         </td>
         <td class="splited scope-out"></td>
         <td class="splited scope-out"></td>
      </tr>
      <tr>
         <th>11:15-11:30</th>
         <td class="joined" colspan="3">Short break</td>
      </tr>
      <tr>
         <th>11:30-12:30</th>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">メインホール</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">スタジオプラス</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">セミナーA</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
      </tr>
      <tr>
         <th>12:30-13:30</th>
         <td class="joined" colspan="3">Lunch</td>
      </tr>
      <tr>
         <th>13:30-14:30</th>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">メインホール</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">スタジオプラス</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">セミナーA</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
      </tr>
      <tr>
         <th>14:30-15:00</th>
         <td class="joined" colspan="3">Break</td>
      </tr>
      <tr>
         <th>15:00-16:00</th>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">メインホール</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">スタジオプラス</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">セミナーA</div>
               <div class="session">
                  <p class="session-speaker">Speaker1</p>
                  <p class="session-title">Title1</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker2</p>
                  <p class="session-title">Title2</p>
               </div>
               <div class="session">
                  <p class="session-speaker">Speaker3</p>
                  <p class="session-title">Title3</p>
               </div>
            </div>
         </td>
      </tr>
      <tr>
         <th>16:00-16:15</th>
         <td class="joined" colspan="3">Short break</td>
      </tr>
      <tr>
         <th>16:15-16:40</th>
         <td class="splited">
            <div class="slot-cell">
               <div class="slot-room">メインホール</div>
               <div class="session">
                  Plenary
               </div>
            </div>
         </td>
         <td class="splited scope-out"></td>
         <td class="splited scope-out"></td>
      </tr>
      <tr>
         <th>17:30</th>
         <td class="joined" colspan="3">懇親会 カフェテラス 日比谷グリーンサロン</td>
      </tr>
   </tbody>
</table>
