---
---
$GOLD_SPONSOR_WIDTH: 25%;
$SILVER_SPONSOR_WIDTH: 20%;
$SUPPORTER_SPONSOR_WIDTH: 15%;

.sponsorlist {
   margin-bottom: 1.5rem;
}

.sponsorlist h2 {
  margin-bottom: 0rem;
}

.sponsorlist a {
  display: inline-block;
  margin: 10px 5px;
}

.gold-sponsor a {
  width: $GOLD_SPONSOR_WIDTH;
}

.silver-sponsor a {
  width: $SILVER_SPONSOR_WIDTH;
}

.supporter-sponsor a {
  width: $SUPPORTER_SPONSOR_WIDTH;
}

// スポンサーレベルの見出し装飾用
.gold-heading {}
.silver-heading {}
.supporter-heading {}