---
---
$version: "1.0.1";
$author: "KMR-Zoar";
$created: "2018-05-06";

/*
  Sponsor logo size
*/
$GOLD_SPONSOR_WIDTH: 45%;
$SILVER_SPONSOR_WIDTH: 30%;
$SUPPORTER_SPONSOR_WIDTH: 23%;

.sponsorlist {
   margin-bottom: 1.5rem;
}

.sponsorlist h2 {
  margin-bottom: 0rem;
}

.sponsorlist .logo {
  display: inline-block;
  margin-bottom: 10px;
}

.gold-sponsor .logo {
  width: $GOLD_SPONSOR_WIDTH;
  text-align: center;
}

.silver-sponsor .logo {
  width: $SILVER_SPONSOR_WIDTH;
}

.supporter-sponsor .logo {
  width: $SUPPORTER_SPONSOR_WIDTH;
}

// スポンサーレベルの見出し装飾用
.gold-heading {}
.silver-heading {}
.supporter-heading {}