---
---

$THEAD_COLOR: #0000ca;
$TIMELINE_COLOR: #ddddff;
$TABLE_BORDER_COLOR: #c0c0c0;
$HEADER_FONT_COLOR: #ffffff;

.schedule {
  width: 85vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

thead td {
  background-color: $THEAD_COLOR;
  color: $HEADER_FONT_COLOR;
  font-weight: 700;
}

th {
  background-color: $TIMELINE_COLOR;
  font-weight: normal;
  padding: 10px;
  border: 1px solid $TABLE_BORDER_COLOR;
  width: 10%;
}

td {
  padding: 10px;
  border: 1px solid $TABLE_BORDER_COLOR;
  width: 30%;
}

.scope-out {
  background-color: lightgrey;
}

.slot-cell {
  text-align: left;
}

.slot-cell p {
   margin: 0px 2px;
}

.session {
  margin: 5px 0px;
  min-height: 6.5em;
  max-height: 9em;
  border-bottom: 1px solid $TABLE_BORDER_COLOR;
}

.session:last-child {
  border-bottom: none;
}

.session-speaker {
  display: block;
}

.session-title {
  display: block;
  border-bottom: 1px dashed #0000ca;
  word-break: break-all;
}

.slot-room {
  display: none;
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
  thead td {
    display: none;
  }
  th, td {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    border-top: none;
  }
  tr:first-child th {
    border-top: 1px solid $TABLE_BORDER_COLOR;
  }
  .scope-out {
    display: none;
  }
  .slot-room {
     display: block;
     color: $THEAD_COLOR;
     font-weight: 700;
  }
}
